*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --card-background: rgba(157,133,91,0.54);
    --item-background: rgba(242,223,189,0.54);
    --image-border-color: #e3df6d;
    --body-font-color: rgb(27, 27, 27);
    --accent-color: #285b12;
}

body{
    background: url(assets/lightcave.png);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 10px;
}

h1{
    margin: 5px;
}

.contentPane{
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.upperRow, .lowerRow{
    display: flex;
    margin: 5px;
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    max-height: 330px;
}

.notificationContent{
    display: flex;
}

.bigNotif{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 16px;
    background-color: var(--item-background);
}

.bignotifImage{
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #E3DF6D;
}

.bigNotifTop{
    display: flex;
    margin: 5px;
    gap: 12px;
}

.bigNotifText{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.smallNotif{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notif{
    padding: 5px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    background-color: var(--item-background);
    min-width: 350px;
}

.notifImage{
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 3px solid #E3DF6D;
}

.notifText{
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
}

.patchNotes{
    padding: 5px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.patchNotes ul{
    list-style-type: none;
}

li{
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    background: var(--item-background);
}

.bugTracker,.spotlight{
    height: auto;
    flex-grow: 1;
}

.guildHall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 16px;
}

.guildHall ol{
    list-style-type: none;
}

.contentCard{
    background: var(--card-background);
    border-radius: 16px;
    margin: 5px;

}

