*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid lime; */
}

:root{
    --card-background: rgba(91, 100, 157, 0.54);
    --item-background: rgba(189, 215, 242, 0.54);
    --image-border-color: #f9f6949b;
    --body-font-color: rgb(27, 27, 27);
    --accent-color: #bcd5e9;
    --accent-color-hover:#cdced2;
    --bg-image: url(assets/pixelated-sky-background.png);
    --i: 0;
}

.dark{
    --card-background: rgba(53, 54, 59, 0.5);
    --item-background: rgba(150, 138, 145, 0.56);
    --image-border-color: #e3df6d;
    --body-font-color: #D1D5DB;
    --accent-color: #eaafe5;
    --accent-color-hover:#2b2a2b;
    --bg-image: url(assets/dusk-sky.png);

}

body{
    background: var(--bg-image);
    font-family:'poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body-font-color);
    transition: background 0.4s ease-in;
    transition: color 0.2s ease-in;
    background-position: left;
    overflow: hidden;
}

button{
    cursor: pointer;
    border: none;
    background: none;
    font-family:'poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body-font-color);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'VT323','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h2{
    color: #431A09;
    text-shadow: 
        -1px -1px 0 #E3DF6D,  
         1px -1px 0 #E3DF6D,
        -1px  1px 0 #E3DF6D,
         1px  1px 0 #E3DF6D;
}

nav{
    display: flex;
    align-items: center;
}

.headerOptions{
    color: var(--accent-color);
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.3rem;
    margin: 0 20px;
    transition: color 0.2s ease-in;
}

.headerOptions:hover{
    color: var(--accent-color-hover);
    transform: scale(1.05) translateY(-1px);
    transition: 0.2s ease-in-out;
}

.contentPane{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 0 15px;
}

.upperRow, .lowerRow{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contentCard{
    background: var(--card-background);
    border-radius: 16px;
    margin: 5px;
    padding: 10px;
    animation: fadeInSlideUp 0.5s ease-out forwards;
    animation-delay: calc(0.15s*var(--i));
    opacity: 0;
    transition: background 0.2s ease-in;
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-height: 330px;
}

.notificationContent{
    display: flex;
}

.bigNotif{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    max-width: 450px;
    border-radius: 16px;
    background-color: var(--item-background);
    transition: background 0.2s ease-in;
}

.bigNotifTop{
    display: flex;
    margin: 5px;
    gap: 12px;
    align-items: center;
}

.imageContainer{
    position: relative;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 2em;
    opacity: 0.7;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.bignotifImage{
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #E3DF6D;
} 

.bigNotifText{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.smallNotif{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notif{
    padding: 5px;
    margin: 5px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    background-color: var(--item-background);
    transition: background 0.2s ease-in;
}

.notifImage{
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 3px solid #E3DF6D;
}

.notifText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.patchNotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.patchNotes ul{
    list-style-type: none;
    padding: 0;
}

li{
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    background: var(--item-background);
    font-size: 0.8rem;
    transition: background 0.2s ease-in;
}

p{
    font-size: 0.9rem;
}

.bugTracker,.spotlight{
    height: auto;
    flex-grow: 1;
}

.guildHall{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
}

.guildHall ol{
    list-style-type: none;
    padding: 0;
}

.guildHall button{
    width: 100%;
    text-align: left;
}

.guildHall li:hover{
    background-color: var(--accent-color-hover);
    transform: scale(1.01) translateY(-1px);
    transition: all 0.1s linear;
}

.bugTracker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.bugTrackerContent{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.bugCategory{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.progressBarContainer{
    display: flex;
    gap: 10px;
    border: 2px solid white;
    border-radius: 16px;
    height: 20px;
    flex-grow: 1;
    min-width: 150px; 
    margin-top: 10px;   
    overflow: hidden;
}

.progressBar{
    height: 100%;
    border-radius: 16px;
    width: 0;
    transition: width 0.6s ease-in-out;
}

.count{
    width: 40px;
    text-align: right;
    font-weight: bold;
}

.open{ background-color: #e34c46; }
.inProgress{ background-color: #f0a033; }
.closed{ background-color: #3fb950;}


.spotlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
}

.spotlightContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotlightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.spotlight img{
    max-width: 250px;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 10px;
    display: block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.spotlight figcaption{
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    color: var(--accent-color);
    transition: color 0.2s ease-in;
}

.spotlight p{
    font-size: 0.7rem;
}


.spotlight button{
    display: flex;
    align-items: center;
    background-color: var(--item-background);
    border: none;
    color: white;
    font-size: 1.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
}

.spotlight button:hover{
    background-color: var(--accent-color-hover);
    transform: scale(1.02) translateY(-1px);
    transition: 0.2s ease-in-out;
}

.fa-solid{
    color: white;
    display: block;
    height: auto;
    width: 50px;
}

#switchTheme{
    vertical-align: center;
    width: 24px;
    height: auto;
}   

.upperRow > .contentCard,
    .lowerRow > .contentCard {
        max-width: 100%;
    }


@keyframes fadeInSlideUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:1024px){
    body{
        margin: 0;
        min-height: 100vh;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: auto;
    }
}

@media(max-width:868px){
    .contentPane{
        width: 100%;
        align-items: center;
    }

    .notificationContent{
        flex-direction: column;
        overflow-y: auto;
    }

    .contentCard{
        flex: 1;
    }

    .bignotifImage{
        width: 120px;
    }

    .notif{
        min-width: none;
    }

    .lowerRow{
        flex-direction: column;
    }

    li{
        width: 100%;
    }

    .headerOptions{
        font-size: 1rem;
        margin: 0 10px;
    }

    
}

@media(max-width:450px){

    .contentPane{
        align-items: center;
    }
    .upperRow{
        flex-direction: column;
    }

    header{
        flex-direction: column;
        gap: 10px;
    }

    .headerOptions{
        font-size: 1rem;
        margin: 0 7px;
    }

    #switchTheme{
        width: 25px;
        height: auto;
    }

    

    .spotlightContainer{
        justify-content: space-between;
    }

    .spotlight{
        width: 100%;
    }

    .spotlightContent{
        width: fit-content;
    }

    .spotlight button{
        width: 25px;
        height: 25px;
    }

    .greeting{
        margin: 5px;
        font-size: 1.2rem;
    }
}




