*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --card-background: rgba(157,133,91,0.54);
    --item-background: rgba(242,223,189,0.54);
    --image-border-color: #e3df6d;
    --body-font-color: rgb(27, 27, 27);
    --accent-color: #285b12;
}

body{
    background: url(assets/lightcave.png);
    font-family:'poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'VT323','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h2{
    color: #431A09;
    text-shadow: 
        -1px -1px 0 #E3DF6D,  
         1px -1px 0 #E3DF6D,
        -1px  1px 0 #E3DF6D,
         1px  1px 0 #E3DF6D;
}

.headerOptions{
    color: var(--accent-color);
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.3rem;
    margin: 0 20px;
}

.contentPane{
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.upperRow, .lowerRow{
    display: flex;
}

.contentCard{
    background: var(--card-background);
    border-radius: 16px;
    margin: 5px;
    padding: 10px;
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-height: 330px;
}

.notificationContent{
    display: flex;
}

.bigNotif{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 16px;
    background-color: var(--item-background);
}

.bignotifImage{
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #E3DF6D;
}

.bigNotifTop{
    display: flex;
    margin: 5px;
    gap: 12px;
}

.bigNotifText{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.smallNotif{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notif{
    padding: 5px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    background-color: var(--item-background);
    min-width: 350px;
}

.notifImage{
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 3px solid #E3DF6D;
}

.notifText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.patchNotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.patchNotes ul{
    list-style-type: none;
}

li{
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    background: var(--item-background);
    font-size: 0.8rem;
}

p{
    font-size: 0.9rem;
}

.bugTracker,.spotlight{
    height: auto;
    flex-grow: 1;
}

.guildHall{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.guildHall ol{
    list-style-type: none;
}

.bugTracker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.bugTrackerContent{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.bugCategory{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.progressBarContainer{
    display: flex;
    gap: 10px;
    border: 2px solid white;
    border-radius: 16px;
    height: 20px;
    flex-grow: 1;
    min-width: 150px; 
    margin-top: 10px;   
}

.progressBar{
    height: 100%;
    border-radius: 16px;
}

.count{
    width: 40px;
    text-align: right;
    font-weight: bold;
}

.progressBar .open{ background-color: #e34c46;}
.progressBar .inProgress{ background-color: #f0a033; }
.progressBar .closed{ background-color: #3fb950; }


.spotlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
}

.spotlightContainer{
    display: flex;
    align-items: center;
}

.spotlightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spotlight img{
    width: 250px;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 10px;
    display: block;
}

.spotlight figcaption{
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    color: var(--accent-color);
}

.spotlight p{
    font-size: 0.7rem;
}


.spotlight button{
    background-color: var(--item-background);
    border: none;
    color: white;
    font-size: 1.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
}

.fa-solid{
    color: white;
    display: block;
    height: auto;
    width: 50px;
}


